.s_likebox {
float:right; /* Indicamos que flotara en la parte derecha*/ 
width:390px; /* Ancho */
height:234px; /* Alto */
background: url(../img/fb_bg.png) no-repeat !important; /* El fondo de la pestaña, en este caso utilizamos una imagen */
display:block;
right:-352px;
padding:0;
position:fixed;
top: 130px;
z-index:1002;
border-radius:10px;
-moz-border-radius:10px; 
-webkit-border-radius:10px; 
}
div.likeboxwrap {
margin-top:2px;
margin-left:-5px;
width:340px; 
height:214px;
background-color:#fff;
overflow:hidden;
border-radius:10px;
-moz-border-radius:10px; 
-webkit-border-radius:10px; 
}
div.likeboxwrap iframe {margin:-1px}